@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~react-image-gallery/styles/scss/image-gallery.scss"; */
body {
  @apply h-full overflow-x-hidden;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
}
.image-gallery-icon svg{
  scale: 0.55;
  
}
.image-gallery-slides{
  // cursor: none;
  border-radius: 5px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#__next {
  @apply h-full;
}

html {
  @apply h-full;
  // cursor: none;
  background: rgb(244 244 245);
}

.corner-border {
  position: absolute;
  width: 23px; /* Adjust the width as needed */
  height: 15px; /* Adjust the height as needed */
  background-color: transparent;
  border: 3px solid black; /* Adjust the color and size of the border as needed */
}

.corner-border-top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.corner-border-top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.corner-border-bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.corner-border-bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}