.profile-picture-wrap {
  // width: 360px;
  // width: fit-content;
  // height: 360px;
  // scale: 0.95;
  .mask-wrapper{
    background-color: black;
    .image{
      scale: 0.99
    }
  }
  .mask{
    object-fit: cover;
    animation: border-radius-animation 12s infinite alternate;
  }
}

@keyframes border-radius-animation {
  0% {
    clip-path: path('M10.5001 95.3166C49.0001 -3.18345 225.5 -19 310.5 24C395.5 67 282.5 363.316 168 347.316C53.5 331.316 -27.9999 193.817 10.5001 95.3166Z');
  }
  20% {
    clip-path: path('M7.49998 124C46 25.5 151.506 -23.8301 261.253 7.33493C371 38.5 381.747 339 251 350C120.253 361 -31 222.5 7.49998 124Z');
  }
  40% {
    clip-path: path('M4.00001 219C35.5 47.5 46.5001 15.5 180.5 1.5C314.5 -12.5 395.5 312.571 303 332C210.5 351.429 -27.5 390.5 4.00001 219Z');
  }
  80% {
    clip-path: path('M14 56C39.249 -60.5 335.5 28.5 342.5 135C349.5 241.5 231 364 111.5 346C-7.99996 328 -11.249 172.5 14 56Z');
  }
  100% {
    clip-path: path('M10.5001 95.3166C49.0001 -3.18345 225.5 -19 310.5 24C395.5 67 282.5 363.316 168 347.316C53.5 331.316 -27.9999 193.817 10.5001 95.3166Z');
  }
}